<title>ArrayList Comparator</title>
<body style="background-color:powderblue;">
  <h1><font size="12"
          face="verdana"
          color="green">
            Hello, User!
        </font></h1>
  <h2><font size="4"
          face="verdana"
          color="green">
            Print Your Arrays to Compare
        </font></h2>
  
  <h3><font size="4"
          face="verdana"
          color="green">
            * State a limit of different element in order.<br>
        * Enter some integer values to the 1st and 3rd areas.<br>
        * If number of different elements are less than or equals to limit, <br>the result will be true.<br>
        *** Comparison will be done line by line!!!<br><br>
        *     1st Area is for Array1   2nd Area is for limit   3rd Area is for Array2<br>
        **    Size of the arrays must be equal -> otherwise it returns false<br>
        ***   The comparison will be made element by element (1st elements of both array compared, then seconds etc.)<br>
        </font>
  </h3> 
  
  <h4> </h4>
  
  <font size="4"
          face="verdana"
          color="green">
             ----> Result is {{result}} <----
        </font>
   


  <form action="compute" method="post">
        <textarea style="background-color:MediumVioletRed;" name="input1" rows="10" cols="30"></textarea>
        <textarea style="background-color:Orchid;" name="input2" rows="10" cols="30"></textarea>
        <textarea style="background-color:MediumVioletRed;" name="input3" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
</body>