<title>My application is able to deploye automatically</title>
  <h1>Hello, World!</h1>
  <h2>Print Your Arrays to Compare</h2>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" required rows="10" cols="30">ArrayList1</textarea>
        <textarea name="input2" required rows="10" cols="30">Boundary</textarea>
        <textarea name="input3" required rows="10" cols="30">ArrayList2</textarea>
        <br>
        <input type="submit">
  </form>
