<title>ArrayList Comparator</title>
<body style="background-color:powderblue;">
  <h1><font size="12"
          face="verdana"
          color="green">
            Hello, User!
        </font></h1>
  <h2><font size="4"
          face="verdana"
          color="green">
            Print Your Arrays to Compare
        </font></h2>
  
  <h3><font size="4"
          face="verdana"
          color="green">
            * State a limit of different element in order.<br>
        * Enter some integer values to the 1st and 3rd areas.<br>
        * If number of different elements are less than or equals to limit, <br>the result will be true.</font>
  </h3> 
  
  <h4> </h4>
  
  <font size="4"
          face="verdana"
          color="green">
             ----> Result is {{result}} <----
        </font>
   


  <form action="compute" method="post">
        <textarea style="background-color:MediumVioletRed;" name="input1" required rows="10" cols="30">ArrayList1&#10</textarea>
        <textarea style="background-color:Orchid; name="input2" required rows="10" cols="30">Boundary&#10</textarea>
        <textarea style="background-color:MediumVioletRed;" name="input3" required rows="10" cols="30">ArrayList2&#10</textarea>
        <br>
        <input type="submit">
  </form>
</body>